<div class="x-path">
    <div  class="x-path-browser" data-dojo-attach-point="xPathWrapperNode">

    </div>
    <div class="widgetname-infoTextNode" data-dojo-attach-point="infoTextNode" />
</div>

<!--<table>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<div data-dojo-attach-point="rootEntityReadWrapperNode">-->
                <!--<span data-dojo-attach-point="rootEntityReadNode">Entity goes here</span>-->
                <!--<a class="add-condition">[+]</a>-->
            <!--</div>-->
            <!--<form class="wrapper" data-dojo-attach-point="xPathBrowserNode">-->
                <!--<input id="entitySelect" class="form-control" type="text" data-dojo-attach-point="rootEntitySelectNode">-->
            <!--</form>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<div class="x-path-conditions">-->

            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->
